/* Main Page */
#landing_main {
    margin: 0.5%;
    margin-top: 1%;
 }
 
 /* Main Page Ends */
 
 /* Header Starts  */
 #landing_header {
    padding-left: 1%;
    font-size: 2rem;
    font-style: italic;
    font-family: 'papyrus';
    font-weight: bold;
    color: rgb(255, 35, 35);
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: rgb(230, 230, 230);
 }
 
 #landing_header div a{
    text-decoration: none;
    color: rgb(255, 35, 35);
 }
 
 /* Header Ends  */
 
 /* Body Starts */
 
 #landing_body {
    position: relative;
    margin-top: 0.5%;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: rgb(230, 230, 230);
    width: 100%;
    height: 89%;
 }
 
 #background_img {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
 }
 
 /* Register/Login Window Starts */ 
 
 /* Register/Login Defaults */
 #login_register {
    position: absolute;
    display:inline-block;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    margin-left: -30%;
    margin-top: 5%;
    width: 25%;
    height: 68%;
    padding: 0.8%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: white;
 }
 
 /* Register/Login Default Ends */
 
 
 /* Registeration Form Starts */
 
 #register_heading {
    margin-top: 2%;
    position: absolute;
    width: 96%;
    text-align: center;
    font-size: 1.3rem;
 }
 
 #email_phone_pass_div {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
 }
 
 #email_phone_pass_div>input, #pswd, #login_username, #email_mobile_field, #pswd_field, #again_pswd_field {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid white;
    color: white;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5%;
    margin-bottom: 5%;
    width: 80%;
 }
 
 #pswd{
    display: inline;
    position: relative;
 }
 
 #pswd_rules, #pswd_vis {
    cursor: pointer;
    filter: invert(100%);
    margin-left: 1%;
 }
 
 #pass_info {
    height: fit-content;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    border: none;
    color: black;
    background-color: white;
    cursor: not-allowed;
 }
 
 #t_and_c_div {
    width: fit-content;
    font-size: 0.9rem;
 }
 
 #t_and_c_div a{
    color: black;
 }
 
 #cb {
    zoom: 1.7;
    margin-top: 0rem;
    cursor: pointer;
 
 }
 
 #already_a_user_div {
    margin-top: 0.1%;
    font-size: 0.9rem;
 }
 
 #already_a_user_link {
    cursor: pointer;
    text-decoration: underline;
 }
 
 #reg_btn {
    font-size: 1.3rem;
    margin-top: 8%;
    margin-left: 34%;
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 0.4rem;
    border:none;
    cursor: pointer;
 }
 
 #reg_btn:hover{
    color:white;
    background-color: black;
 }
 
 /* Registration Form Ends */
 
 /* login starts  */
 #login_fields{
    position: absolute;
    display: inline-block;
    padding: 2%;
    padding-left: 4%;
    height: 90.5%;
    width: 88.5%;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: rgb(230, 230, 230);
    background-color: white;
    color: black;
 }
 
 #login_heading {
    position: relative;
    display: inline-block;
    margin-top: 4%;
    margin-left: 24%;
    font-size: 1.3rem;
    color: rgb(255, 35, 35);
    text-shadow: 0.04rem 0.04rem rgb(255, 35, 35);
 }
 
 #login_pswd{
    position: relative;
    display: inline-block;
    margin-top: 8%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5%;
    width: 100%;
 }
 
 #login_pswd input{
    color: black;
    border-bottom: 0.1rem solid black;
 }
 
 #forgot_pswd{
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline;
 }
 
 #login {
    font-size: 1.3rem;
    margin-top: 1%;
    margin-left: 30%;
    padding: 2%;
    padding-left: 12%;
    padding-right: 12%;
    border-radius: 0.4rem;
    border:none;
    cursor: pointer;
 }
 
 #login:hover{
    color:white;
    background-color: black;
 }
 
 #hr1, #hr2 {
    width: 95%;
    text-align: center;
    margin-left: 2%;
 }
 
 #div4 span{
    display: inline-block;
    margin-left: 45%;
 }
 
 #link_images_div {
    display: flex;
 }
 
 /* login.php ends  */
 
 /* Forget Password Starts  */
 
 #forget_pswd_div, #pswd_reset{
    position: absolute;
    display: inline-block;
    padding: 2%;
    padding-left: 4%;
    height: 90.5%;
    width: 88.5%;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: rgb(230, 230, 230);
    color: black;
 }
 
 #forget_pswd_head, #reset_pswd_head {
    position: relative;
    display: inline-block;
    margin-top: 4%;
    margin-left: 18%;
    font-size: 1.3rem;
    color:white;
    text-shadow: 0.04rem 0.04rem rgb(255, 35, 35);
 }
 
 #enter_mail_or_phone {
    display: inline-block;
    margin-top: 4%;
    margin-bottom: 4%;
    color: white;
    font-size: 0.9rem;
 }
 
 #validation_div {
    display: none;
    color: white;
    margin-top: 0.3rem;
    font-size: 0.9rem;
 }
 
 #val-btn, #pswd-set-btn {
    font-size: 1.3rem;
    margin-top: 8%;
    margin-left: 28%;
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 0.4rem;
    border:none;
    cursor: pointer;
 }
 
 #val-btn:hover #pswd-set-btn:hover{
    color:white;
    background-color: black;
 }
 
 /* Forget Password window changes  */
 
 #your_acc_is_restored {
    color: white;
 }
 
 #lbl1, #lbl2{
    margin-top: 1%;
    color: white;
 }
 
 #new_pass_div, #pswd_field {
    display: inline;
    margin-bottom: 8%;
 }
 
 /* Forget Password Ends */
 
 /* Footer Starts */
 
 #landing_footer {
    position: relative;
    margin-top: 0.5%;
    margin-bottom: 1%;
    border-width: 0.2rem;
    border-radius: 0.4rem;
    border-color: rgb(230, 230, 230);
    width: 100%;
    height: 8%;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    padding-top: 1%;
 }
 
 #about_us {
    float: left;
    margin-left: 8rem;
    cursor: pointer;
 }
 
 #career {
    float: left;
    margin-left: 25rem;
    cursor: pointer;
 }
 
 #contact_us {
    float: right;
    margin-right: 8rem;
    cursor: pointer;
 }
 
 /* Footer Ends */